{{ define "main" }}
<main>
    <section class="title">
        <h1>{{ .Title }}</h1>
        <p>{{ .Description }}</p>
    </section>
    <section class="content">
        <div class="program">
            {{ range .Params.program }}
            <div>
                <span class="time">
                    {{ .time }}
                </span>
                <span class="title">
                    {{ .title }}
                </span>
            </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}